@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: '';
  src: url('../fonts...);
  font-weight: normal;
  font-style: normal;
} */

html {
  height: 100%;
  overflow-x: hidden; 
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
